* {
    font-family: 'Varela Round', sans-serif;
}

.margin {
    border-top: 3px solid #00B5DD;
}

.main {
    background-color: whitesmoke;
}

.card {
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    justify-self: center;
    flex-shrink: 1;
    flex-grow: 1;
}

.apresentacao {
    width: 50em;
}

.photo-perfil > img {
    border-radius: 35%;
    transition-duration: 2s;
    margin: 12px;
}

.photo-perfil > img:hover {
    transition-duration: 2s;
    border-radius: 15%;
}

.texto-apresentacao {
    color: #3A3F50;
    font-size: 1.4em;
}

.ola {
    font-size: 5.6em;
    color: #007BB9;
}

.meu-nome {
    font-size: 2.6em;
    color: #00B5DD;
}

.conteudo {
    background-image: linear-gradient(to bottom,#ffffff, #ffffff, #00B5DD, #00B5DD, #007BB9);
}

.nav-conteudos {
    border-top: 6px #00B5DD dashed;
    padding-top: 25px;
}

.conteudo-conhecimento {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    align-items: center;
}
