* {
    font-family: 'Varela Round', sans-serif;
}

.main {
    background-color: #ffffff;
}

.card {
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
    justify-content: stretch;
    align-content: center;
    justify-items: center;
    align-items: center;
    padding-bottom: 40px;
    
}

.photo-perfil > img {
    border-radius: 35%;
    transition-duration: 2s;
    margin: 12px;
}

.photo-perfil > img:hover {
    transition-duration: 2s;
    border-radius: 15%;
}

.texto-apresentacao {
    color: #3A3F50;
    font-size: 20px;
}

.ola {
    font-size: 72px;
    color: #007BB9;
}

.meu-nome {
    font-size: 32px;
    color: #00B5DD;
}

.conteudo {
    background-image: linear-gradient(to bottom, #00b5dd, #00B5DD, #007BB9);
    height: 450px;
}

.nav-conteudos {
    border-top: 10px #007BB9 dashed;
    background-color: #ffffff; 
    
}